<style>
tbody#template {
    display: none;
}
</style>
<div class="container-fluid" ng-controller="homeController">
  <center> <a class="btn btn-lg"> Request an App for <i class="fa fa-android fa-2x" aria-hidden="true"></i> / <i class="fa fa-apple fa-2x" aria-hidden="true"></i> </a> </center>

  <!--dynamic-form id="Form" class="col-md-12" template="fromTemplate" ng-model="formData">
  </dynamic-form-->
  <h4>{{ }}</h4>
  <form id="form">
  <div id="accordion">
    <h4 id='company_details'>Step 1 - Company Details</h4>
    <div>
      <table class='table'>
        <tr>
          <td> Name </td>
          <td> <input type='text' name="company.name" /></td>
          <td> Title </td>
          <td> <input type='text'  name="company.title"/></td>
          <td> Registration No </td>
          <td> <input type='number' name="company.registrationNo"/></td>
          <td> Registration Year </td>
          <td> <input type='date' name="company.registrationYear" /></td>
        </tr>
        <tr>
          <td> Owner Name </td>
          <td> <input type='text'  name="company.owner.name" /></td>
          <td> Photograph </td>
          <td> <input type='file' name="company.owner.photograph" /></td>
          <td> Short Description </td>
          <td> <input type='text' name="company.shortDescription"/></td>

        </tr>
      </table>
    </div>
    <h4 id='contact_details'>Step 2 - Contact Details </h4>
    <div>
      <table class='table'>
        <tr>
          <td> Registered Address </td>
          <td> <input type='text' name="contact.registrationAddress" /></td>
          <td> Office Address </td>
          <td> <input type='text' name="contact.officeAddress" /></td>
          <td> Landline Number </td>
          <td> <input type='number' name="contact.landlineNumber"/></td>
          <td> Mobile Number </td>
          <td> <input type='number'  name="contact.mobileNumber"/></td>
        </tr>
        <tr>
          <td> EmailId </td>
          <td> <input type='email'  name="contact.emailId"/></td>

        </tr>
      </table>
    </div>
    <h4 id='company_information'>Step 3 - Company Information </h4>
    <div>
      <table class='table'>
        <tr>
          <td> Website </td>
          <td> <input type='text' name="website.website"/></td>
          <td> About Company </td>
          <td> <input type='text' name="website.aboutcompany"/></td>
        </tr>
      </table>
    </div>
    <h4 id='product_catalog'>Step 4 - Product Catalog </h4>
    <div>
      <table id="productTable" class="table">
            <tr>
              <td><input type="text" id="new_name" ng-model="item.name"></td>
              <td><input type="file" id="new_image"  ng-model="item.image"></td>
              <td><input type="text" id="new_price"  ng-model="item.price"></td>
              <td><input type="text" id="new_discount"  ng-model="item.discount"></td>
              <td ><a id='addProduct' class='btn' ng-click="addrow('productTable');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
              <!--td ><a class='btn'><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span></a></td>
              <td ><a class='btn'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td-->
              </td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price (Rs)</th>
                <th>Discount(%)</th>
                <th>Add/Edit</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tbody id='productTableBody'>
            </tbody>
        </table>
    </div>
    <h4 id='service_catalog'>Step 5 - Service Catalog </h4>
    <div>
      <table id="tabledata" class="table">
        <thead>
            <tr>
                <th>ServiceName</th>
                <th>Price (Rs)</th>
                <th>Discount(%)</th>
                <th>Description</th>
               </tr>
        </thead>

        <tbody>
              <tr>
                <td><input type="text" id="new_s_name"></td>
                <td><input type="text" id="new_s_price"></td>
                <td><input type="text" id="new_s_discount"></td>
                <td><input type="text" id="new_s_discription"></td>
                <td ><a class='btn' onclick="add_rows();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
                <td ><a class='btn'><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span></a></td>
                <td ><a class='btn'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </td>
        </tr>
              </tbody>


          <tbody id="serviceinput"></tbody>

            </table>
    </div>
  </div>
    <center>
    <button class="btn btn-primary" id="submit_btn" ng-click='submitRequest();'><strong>Submit</strong></button>
    <!-- TODO : Add preview screen -->
    <!-- TODO : Create table for downloading various download formats -->
</center>
</form>
<script>

</script>
