<div class="container-fluid" ng-controller="homeCtrl">
  <a class="btn btn-lg"> App Request Information </a><BR/>

  <dynamic-form id="Form" class="col-md-12" template="fromTemplate" ng-model="formData">

  </dynamic-form>
    <div class="col-md-4">
      <div class="fixed col-md-4">
        <pre>stdFormData: {{stdFormData | pretty}}</pre>
       </div>
    </div>

	  <button class="btn btn-primary" onClick="formDataToObject(document.getElementById('Form'))"><strong>Submit</strong></button>
    <button class="btn btn-info" onclick="populateForm(aFormData)"><strong>View</strong></button>
    <button class="btn btn-success"><strong>Download for Android</strong> </button>
    <button class="btn btn-success"><strong>Download for iOS </strong></button>
    <!-- TODO : Add preview screen -->
    <!-- TODO : Create table for downloading various options -->
</div>
